/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    --plyr-color-main: #50AE5A;
    --plyr-video-control-background-hover: #50DE5A;
}

a {
    color: #50AE5A;
    text-decoration: none;
}

a:hover {
    color: #50DE5A;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}